header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
 }

#banner{
    width: 100%;
    margin: 5px 0;
}

.principal {
   width: 1210px;
   margin: 10px auto;
   background: #ECF0F1;
   padding: 10px;
   box-sizing: border-box;
   border: 5px solid #000000;
   border-radius: 10px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

p {
   text-align: center;
}

#missao {
    font-size: 20px
}

strong {
    color: #FF0000; /*posso mudar a cor de acordo com o que esta selecionado na tag strong!*/
}

.itens {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 5px 0;
}

.beneficios {
    width: 1210px;
    background: #ECF0F1;
    padding: 20px 0;
    margin: 10px auto;
    box-sizing: border-box;
    border: 5px solid #000000;
    border-radius: 10px;
}

.itens-beneficios {
    font-style: italic; 
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    width: 30%;
    margin-left: 12.5%;
} 

ul { 
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 15% ;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0; /* espaçamento interno*/
}

.copyright {
    color:  #FFFFFF;
    font-size: 13px;
    margin: 20px;
}